body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif !important;
    background-color: #ddd;
}

/************** Generic Style **************/

.row {
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

/************** Header Section Style **************/

header {
    height: auto;
    background-color: #2bb673;
    color: #fff;
    font-size: 3vw;
}

div.row .search {
    text-align: right;
    font-size: 1.5vw;
    margin: 1.2% 0 0;
}

/************** Main Section Style **************/

main {
    height: auto;
    width: 100%;
    
}

div.location {
    width: 90%;
    height: auto; 
    margin: 20px auto 15px;
    background: #2bb673;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}

div.location span pre{
    font-family: 'Cairo', sans-serif;
    color: #fff;
    margin: 3px 0 0 10px;
}



.vertical-center {
    height: 15%;
    display: inline-flex;
    align-items: center;
}

div.main-col {
    text-align: center !important;
    background-color: #fff;
    border-radius: 6px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin: 0 10px 15px;
    padding: 0;
}

.list-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

div.main-col span {
    display: block;
    font-size: 1.7vw;
    margin: 0 0 8px;
}

/************** Footer Section Style **************/

footer.row{
    margin: 0;
    background-color: #2bb673;
    height: auto;
    color: #fff;
    font-size: 1.5vw;
}

footer .col {
    padding: 2% 0;
}

footer .col img {
    width: 5.5%;
    margin-left: 3px;
    position: relative;
    top: -5%;
}

footer > :nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

/************** Media Queries **************/

@media only screen and (max-width: 500px) {
    header {
        font-size: 1.5rem;
    }

    div.row .search {
        font-size: 1.2rem;
        margin-top: 6px;
    }

    div.location {
        font-size: 1rem;
    }

    div.main-col span {
        font-size: 2.8vw;
    }

    footer.row {
        font-size: 3vw;
    }

    footer.row img {
        width: 10%;
        bottom: -2px;
    }
}
