body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif !important;
    background-color: #ddd;
}

/************** Generic Style **************/

.row {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/************** Header Section Style **************/

header {
    height: auto;
    padding: 0.5vw 0;
    background-color: #2bb673;
    color: #fff;
    font-size: 2rem;
}

div.row .search {
    text-align: right;
    font-size: 1.2rem;
    margin: 0.6rem 0 0;
}

/************** Main Section Style **************/

main {
    height: auto;
    width: 100%;
    
}

div.location {
    width: 90%;
    height: auto; 
    margin: 20px auto 25px;
    background: #2bb673;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}

div.location i {
    font-size: 1.1rem;
}

.vertical-center {
    height: 50px;
    display: inline-flex;
    align-items: center;
}

div.main-col {
    text-align: center !important;
    background-color: #fff;
    border-radius: 6px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin: 0 10px 15px;
    padding: 0;
}

.list-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

div.main-col span {
    display: block;
    font-size: 1.1rem;
    margin: 4px 0 8px;
}

/************** Footer Section Style **************/

footer.row span{
    color: #fff;
    font-size: 1rem;
}

footer .col {
    background-color: #2bb673;
    padding: 2% 0;
}

footer.row img {
    width: 1rem;
    margin-left: 3px;
    position: relative;
    top: -5%;
}

footer > :nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

/************** Media Queries **************/

@media only screen and (max-width: 500px) {
    header {
        height: 45px;
        font-size: 1.5rem;
    }

    .vertical-center {
        height: 35px;
    }

    div.row .search {
        font-size: 1.2rem;
        margin-top: 6px;
    }

    div.location {
        font-size: 1rem;
    }

    div.main-col span {
        font-size: 2.5vw;
    }

    footer.row span{
        font-size: 0.9rem;
    }

    footer.row img {
        width: 0.8rem;
        bottom: -2px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 668px) {
    div.main-col span.phone-number {
        font-size: 2.8vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1004px) {
    div.main-col span.phone-number {
        font-size: 0.92rem;
    }
}

@media only screen and (min-width: 500px) {
    header span {
        display: inline-block;
        position: relative;
        top: -3px;
    }
}
